
.app-container {
  font-family: 'Arial Black', sans-serif;
  background-color: #fffaf0;
  color: #333;
  padding: 20px;
}

.app-header {
  display: flex;
  align-items: center;
  background-color: #32004f;
  padding: 1rem;
  color: white;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.app-logo {
  height: 60px;
  margin-right: 1rem;
}
